@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/container';
@import 'bootstrap/scss/mixins/grid';

$topbar-height: 64px;


.app-container {
    @include make-container();
    min-height: 100vh;
}

.app-row {
    @include make-row();
}

.app-topbar {
    @include make-col-ready();
    @include make-col(12);
    height: $topbar-height;
}

.app-sidebar {
    @include make-col-ready();
    @include make-col(1);
}

.app-main {
    @include make-col-ready();
    @include make-col(11);
    min-height: calc(100vh - $topbar-height);
}