<div class="container">
    <div class="row">
        <div class="col-3">
            <input type="text" 
            class="form-control" 
            placeholder="Search..." 
            [(ngModel)]="criteria" 
            (ngModelChange)="onFilterChanged()">
        </div>
        <div class="col-2">
            <select class="form-select" 
            aria-label="Default select example" 
            [(ngModel)]="hasAttachment" 
            (ngModelChange)="onFilterChanged()">
                <option selected>Attachment</option>
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
              </select>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    (ngModelChange)="dateChanged($event)"
                    [(ngModel)]="date"
                    [displayMonths]="displayMonths"
                    [navigation]="navigation"
                    [outsideDays]="outsideDays"
                    [showWeekNumbers]="showWeekNumbers"
                    ngbDatepicker
                    #d="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary rounded-end bi bi-calendar3" (click)="d.toggle()" type="button">

                </button>
            </div>
        </div>
    </div>
</div>