@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/container';
@import 'bootstrap/scss/mixins/grid';

$topbar-height: 70px;
$sidebar-width: 80px;


.app-container {
  @include make-container();
  min-height: 100vh;
  padding-right: 0;
}

.app-row {
}

.app-topbar {
  @include make-col-ready();
  @include make-col(12);
  height: $topbar-height;
}

.app-sidebar {
  width: $sidebar-width;
}

.app-main {
  width: calc(100vw - $sidebar-width);
  min-height: calc(100vh - $topbar-height);
}
