<div class="container-fluid">
  <div class="row">
    <div class="col pe-0">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">From</th>
          <th scope="col">Subject</th>
          <th scope="col" colspan="2">Received</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          @if (isLoading()) {
            <tr>
              <td colspan="5" class="text-center">Loading...</td>
            </tr>
          } @else {
            @for (message of messages(); track message.id) {
              <tr>
                <td class="align-middle">{{ message.sender }}</td>
                <td class="align-middle">
                  @if (message.hasAttachment) {
                    <fa-icon class="me-1" [icon]="faPaperclip"></fa-icon>
                  }
                  <span>{{ message.subject }}</span></td>
                <td class="align-middle">{{ message.date | date }}</td>
                <td></td>
                <td class="d-flex justify-content-end align-middle">
                  <button class="btn">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                  </button>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
